<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="save()">
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
    <ion-title>{{device.name}} Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <h1>Device</h1>
    </ion-list-header>
    <ion-item>
      <ion-label color="primary" stacked>Name</ion-label>
      <ion-input placeholder="Name of the device" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Type</ion-label>
      <ion-select okText="Okay" cancelText="Cancel" [(ngModel)]="type">
        <ion-select-option value="{{devType}}" *ngFor="let devType of this?.availableDeviceTypes">
          {{this.tr.deviceType(devType)}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="stacked">Vendor</ion-label>
      <ion-select value="other" okText="Okay" cancelText="Cancel" [(ngModel)]="vendor">
        <ion-select-option value="{{vendorKey}}" *ngFor="let vendorKey of this?.availableVendors">
          {{this.tr.vendor(vendorKey)}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Additional</ion-label>
      <ion-input placeholder="Power, model, etc..." [(ngModel)]="model"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>