
.ion-color-stepone {
    --ion-color-base: #F25D3D;
    --ion-color-base-rgb:  242,93,61;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade:  #d55236;
    --ion-color-tint: #f36d50;
}

.ion-color-step-progress {
    --ion-color-base: #1B7080;;
    --ion-color-base-rgb: 27,112,128;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #186371;
    --ion-color-tint: #327e8d;
}

.ion-color-step-active {
    --ion-color-base: #8a5205;
    --ion-color-base-rgb: 138,82,5;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #794804;
    --ion-color-tint: #96631e;
}

.ion-color-step-one {
    --ion-color-base: #fd976d;
    --ion-color-base-rgb: 253,151,109;
    --ion-color-contrast: #573301;
    --ion-color-contrast-rgb: 87,51,1;
    --ion-color-shade: #df8560;
    --ion-color-tint: #fda17c;
}

.ion-color-step-two {
    --ion-color-base: #fdaa86;
    --ion-color-base-rgb: 253,170,134;
    --ion-color-contrast: #573301;
    --ion-color-contrast-rgb: 87,51,1;
    --ion-color-shade: #df9676;
    --ion-color-tint: #fdb392;
}

.ion-color-step-three {
    --ion-color-base: #ffbfa3;
    --ion-color-base-rgb: 255,191,163;
    --ion-color-contrast: #573301;
    --ion-color-contrast-rgb: 87,51,1;
    --ion-color-shade: #e0a88f;
    --ion-color-tint: #ffc5ac;
}
  
ion-card-header {
    background: transparent;
}

.step-card-title {
    color: #523F39 !important;
}

.step-card {
    background: linear-gradient(to bottom, #fce479 0%, #e6bd96 100%);
}

ion-card-header {
    background: transparent !important;
}

ion-card-title {
    color: #523F39 !important;
}

ion-card-subtitle {
    color: #6d554d !important;
}

.bg-white {
    background-color: #fff0ce !important;
    border-radius: 0.3rem;
}

.sensor-card-sub {
    color: var(--ion-color-dark-tint) !important;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border-radius: 0.2rem;
}

.device-settings {
    color: #4d4d4d !important
}

.rules-settings {
    color: #ff4658 !important
}
  