<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="secondary" (click)="save()" disabled="{{configuration.host.length == 0 || configuration.name.length == 0}}">
                <ion-icon slot="start" name="checkmark"></ion-icon>
                Save changes
            </ion-button>
        </ion-buttons>
        <ion-title>Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label color="primary" stacked>Name</ion-label>
            <ion-input placeholder="Name of the box" [(ngModel)]="configuration.name"></ion-input>
        </ion-item>
        <ion-item-group>
            <ion-item-divider>
                <ion-label>WiFi</ion-label>
            </ion-item-divider>
            <ion-item *ngIf="this.box.connected() != ConnectionMethods.Disconnected">
                <ion-label color="danger">No connection to the host</ion-label>
            </ion-item>
            <ion-item *ngIf="this.box.connected() != ConnectionMethods.Disconnected">
                <ion-label color="primary">Network</ion-label>
                <ion-label>{{box.status?.ssid}}</ion-label>
                <ion-button (click)="selectNetwork()">
                    Select
                </ion-button>
            </ion-item>
            <ion-item *ngIf="this.box.connected() != ConnectionMethods.Disconnected">
                <ion-label color="primary">Mode</ion-label>
                <ion-label>{{ (box.status?.mode == "ap" ? "Access Point" : (box.status?.mode == "connected" ? "Connected" : (box.status?.mode == "disconnected" ? "Disconnected" : "Unknown yet"))) }}</ion-label>
            </ion-item>
            <ion-item *ngIf="this.box.connected() != ConnectionMethods.Disconnected">
                <ion-label color="primary">IP</ion-label>
                <ion-label>{{box.status?.ip}}</ion-label>
            </ion-item>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider>
                <ion-label>Advanced network settings</ion-label>
            </ion-item-divider>
            <ion-item>
                <ion-label color="primary" position="stacked">Host</ion-label>
                <ion-input placeholder="IP adress of host name" [(ngModel)]="configuration.host"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" position="stacked">POST port</ion-label>
                <ion-input placeholder="IP adress of host name" type="number" min="1" max="99999" [(ngModel)]="configuration.rest"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" position="stacked">Updates port</ion-label>
                <ion-input placeholder="IP adress of host name" type="number" min="1" max="99999" [(ngModel)]="configuration.stream"></ion-input>
            </ion-item>
            <ion-item>
                <ion-button slot="end" (click)="test()">
                    Test
                </ion-button>
            </ion-item>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider>
                <ion-label>Additional</ion-label>
            </ion-item-divider>
            <ion-item>
                <ion-label text-wrap position="stacked">
                    Scan this code with AquaBox App to add the same device on another mobile device
                </ion-label>
                <div style="display: block !important;">
                    <canvas #qrCanvas></canvas>
                </div>
                <ion-button (click)="redrawQR()">
                    Update QR with modified settings
                </ion-button>
            </ion-item>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider></ion-item-divider>
            <ion-item>
                <ion-label class="ion-text-center" color="danger" position="stacked" text-wrap>
                    <h1>Remove this box(all rules and devices will be kept on box!)</h1>
                </ion-label>
                <ion-button size="large" color="danger" expand="block" (click)="delete()">
                    <ion-icon name="trash"></ion-icon> DELETE
                </ion-button>
            </ion-item>
        </ion-item-group>

    </ion-list>
</ion-content>