<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{device.name}} ({{device.id}})
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list @listItemState *ngFor="let rule of rules">
    <ion-card color="light">
      <ion-card-header>
        <ion-item class="titleItem">
          <ion-label color="dark">
            <h1>{{rule.name}}</h1>
          </ion-label>
          <div style="float: right;">
            <ion-toggle slot="start" style="vertical-align: middle;" color="success" checked="{{rule.enabled}}"
              (click)="toggleEnabled(rule)">
            </ion-toggle>
            <ion-button slot="end" fill="clear" style="vertical-align: middle;" color="danger"
              (click)="removeRule(rule)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <ion-item class="actionItem" *ngFor="let action of rule.actions">
          <ion-text class="{{action.type}}" align-self-center>
            <h1>{{action.type == "turn_on" ? "Turn on" : "Turn off"}}</h1>
          </ion-text>

          <ion-text class="textWithSpacing" align-self-center>
            <h1>at {{ action.at | date:'HH:mm' }}</h1>
          </ion-text>
        </ion-item>
        <ion-label *ngIf="rule.repeat.deleteAfter > 0" color="dark">Will expire on {{remain(rule.repeat)}}</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list>



  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="createTemporaryRule(10)" data-desc="Turn on/off for 10 mins" color="warning">
        <ion-icon name="timer"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="createTemporaryRule(30)" data-desc="Turn on/off for 30 mins" color="secondary">
        <ion-icon name="timer"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="createTemporaryRule(60)" data-desc="Turn on/off for 1 hour" color="primary">
        <ion-icon name="timer"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addNewRule()" data-desc="Add new rule" large="true" color="danger" class="mainAction">
        <ion-icon name="alarm"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>