.actioinButton {
    --box-shadow: false
}

.textWithSpacing {
    margin-right: 0.3rem;
    color: #383a3e
}

.transparentItem {
    --background: "transparent"
}

.titleItem {
    @extend .transparentItem
}

.actionItem {
    @extend .transparentItem
}

ion-fab-button[color="danger"]::after {
    background-color: var(--ion-color-danger);
    color: var(--ion-color-light);
}

ion-fab-button[color="primary"]::after {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
}

ion-fab-button[color="secondary"]::after {
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-light);
}

ion-fab-button[color="warning"]::after {
    background-color: var(--ion-color-warning);
    color: var(--ion-color-light);
}