

.actioinButton {
    --box-shadow: false
}

.textWithSpacing {
    margin-right: 0.3rem;
    color: #383a3e
}

.turn_on {
    @extend .textWithSpacing;
    color: var(--ion-color-success);
}

.transparentItem {
    --background: "transparent"
}

.titleItem {
    @extend .transparentItem
}

.actionItem {
    @extend .transparentItem
}

.turn_off {
    @extend .textWithSpacing;
    color: var(--ion-color-danger);
}