<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="save()" #doneButton>
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Done
      </ion-button>
    </ion-buttons>
    <ion-title>New rule for <b> {{rule?.device}} </b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Name</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="nameInput" value="{{rule?.name}}" (ionChange)="nameChanged($event)"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Actions</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list @listItemState *ngFor="let action of rule?.actions; let i = index">
          <ion-item class="no-padding">
            <ion-button color="{{action.type == 'turn_off' ? 'danger' : 'success'}}" class="action-button"
              (click)="action.toggleActionType()">{{action?.name()}}</ion-button>
            <ion-text>at</ion-text>
            <ion-button class="no-padding action-button" color="warning">
              <ion-datetime class="no-padding" displayFormat="HH:mm" placeholder="Select time" [(ngModel)]="dates[i]">
              </ion-datetime>
            </ion-button>
            <div></div>
            <div style="width: 100%"></div>
            <ion-button color="danger" class="action-button" fill="clear" (click)="removeAction(action)">
              <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="centered">
          <ion-button (click)="addAction()">Add</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Repeat</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-radio-group value="day">

            <ion-item>
              <ion-radio value="day"></ion-radio>
              <ion-text>Everyday</ion-text>
            </ion-item>

            <ion-item disabled>
              <ion-radio value="week" disabled="true"></ion-radio>

              <ion-text>On</ion-text>
              <ion-text color="primary" class="no-padding">specific week day(s)</ion-text>
              <ion-text class="beta-feature">Not for beta</ion-text>
            </ion-item>

            <ion-item disabled>
              <ion-radio value="monthDay" disabled="true"></ion-radio>

              <ion-text>On </ion-text>
              <ion-text color="primary" class="no-padding">5th</ion-text>
              <ion-text>of each month</ion-text>
              <ion-text class="beta-feature">Not for beta</ion-text>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Do it</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-radio-group value="always">
            <ion-item>
              <ion-radio value="always"></ion-radio>
              <ion-text>Always</ion-text>
            </ion-item>

            <ion-item>
              <ion-radio value="once"></ion-radio>
              <ion-text>Once</ion-text>
            </ion-item>

            <ion-item>
              <ion-radio value="times"></ion-radio>
              <ion-text>Only</ion-text>
              <div style="width: 2rem">
                <ion-input type="number" value="{{rule?.repeat.deleteAfter}}" min="2" max="10000000"></ion-input>
              </div>
              <ion-text>times</ion-text>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Ready</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Enabled</ion-label>
          <ion-toggle [(ngModel)]="enableRule"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>