<ion-row class="ion-align-items-baseline" style="width: max-content;">
    <ion-label *ngIf="editable">
        Add
    </ion-label>
    <ion-input type="number" min="1" max="100" [(ngModel)]="change.value" text-center *ngIf="editable"></ion-input>
    <ion-label *ngIf="editable"> {{unit}}   {{change.value}}</ion-label>

    <h1 *ngIf="!editable" class="textWithSpacing">
        <ion-text>
            Add
        </ion-text>
        <ion-text color="success">
            {{change.value}}
        </ion-text>
        <ion-text *ngIf="!editable">
            {{unit}}
        </ion-text>
    </h1>
</ion-row>