<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>Back</ion-back-button>
        </ion-buttons>
        <ion-title>
            Available WiFi networks
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="sliderOpts" #slides>
        <ion-slide>

            <ion-refresher slot="fixed" (ionRefresh)="scan($event)">
                <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh"
                    refreshingSpinner="circles" refreshingText="Refreshing...">
                </ion-refresher-content>
            </ion-refresher>


            <div class="simpleContainerLarge">
                <ion-list *ngFor=" let net of this?.networks ">
                    <ion-item (click)="connectTo(net)" disabled="{{!canConnect(net)}}">
                        <ion-col>
                            <h2>{{net.SSID}}</h2>
                        </ion-col>
                        <ion-col>
                            <ion-text color="danger">
                                <h4 *ngIf="!canConnect(net)">Not secure</h4>
                            </ion-text>
                            <ion-text color="medium">
                                <h4 *ngIf="isCurrent(net)">Connected</h4>
                            </ion-text>
                        </ion-col>

                        <ion-thumbnail slot="end">
                            <img src="/assets/icon/wifi_{{icon(net.signal)}}.svg " />
                        </ion-thumbnail>
                    </ion-item>
                </ion-list>
            </div>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row class="ion-align-items-center">
                    <ion-col>
                        <h2>Authenticate to {{ssid}}</h2>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col>
                        <ion-input (ionChange)="nameChanged($event) " [(ngModel)]="password " type="password "
                            autofocus="true " inputmode="latin-name " minlength="8 " placeholder="password ">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col>
                        <ion-button color="success " size="large " (click)="doConnect() " disabled="true "
                            #connectButton>
                            Connect</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h2>Connecting...</h2>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-progress-bar type="indeterminate"></ion-progress-bar>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text color="success">
                            <h2>Connected!</h2>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-text color="danger">
                            <h1>Authentification failed</h1>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-text color="danger">
                            <h2>Can't connect. Check if network is available!</h2>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button color="success">
                            Go to home
                        </ion-button>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-button color="warning">
                            Retry
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>