<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>Back</ion-back-button>
        </ion-buttons>
        <ion-title>
            Available WiFi networks
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="sliderOpts" #slides>
        <ion-slide>

            <ion-refresher slot="fixed" (ionRefresh)="scan($event)">
                <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh"
                    refreshingSpinner="circles" refreshingText="Refreshing...">
                </ion-refresher-content>
            </ion-refresher>


            <div class="simpleContainerLarge">
                <ion-list *ngFor=" let net of this?.networks ">
                    <ion-item (click)="connectTo(net)" disabled="{{!canConnect(net)}}">
                        <ion-col>
                            <h2>{{net.SSID}}</h2>
                        </ion-col>
                        <ion-col>
                            <ion-text color="danger">
                                <h4 *ngIf="!canConnect(net)">Not secure</h4>
                            </ion-text>
                            <ion-text color="medium">
                                <h4 *ngIf="isCurrent(net)">Connected</h4>
                            </ion-text>
                        </ion-col>

                        <ion-thumbnail slot="end">
                            <img src="/assets/icon/wifi_{{icon(net.signal)}}.svg " />
                        </ion-thumbnail>
                    </ion-item>
                </ion-list>
            </div>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row class="ion-align-items-center">
                    <ion-col>
                        <h2>Authenticate to {{selectedNetwork?.SSID}}</h2>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col>
                        <ion-input (ionChange)="nameChanged($event) " [(ngModel)]="password " type="password "
                            autofocus="true " inputmode="latin-name " minlength="8 " placeholder="password ">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col>
                        <ion-button color="success " size="large " (click)="doConnect() " disabled="true "
                            #connectButton>
                            Connect</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text>
                            <h2>Connecting...</h2>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-text>
                            <h3>
                                Your <b>Aquabox</b> now is trying to connect to {{selectedNetwork?.SSID}}. See at
                                display on <b>Aquabox</b> to see connection states. If connection will fail,
                                <b>Aquabox</b> will automatically try to reconnect to previous WiFi network. When
                                <b>Aquabox</b> connect to selected network you will see it online back.
                            </h3>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button size="large" color="success" href="/">
                            Go to main screen
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>