.actioinButton {
    --box-shadow: false
}

.textWithSpacing {
    color: #383a3e;
}

.turn_on {
    @extend .textWithSpacing;
    color: var(--ion-color-success);
}

.turn_off {
    @extend .textWithSpacing;
    color: var(--ion-color-danger);
}
