// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
$colors: ( primary : rgb(254, 79, 26), secondary : rgb(100, 100, 100));
ion-fab-button[data-desc] {
    position: relative;
}

ion-fab-button[large] {
    width: 50px;
    height: 50px
}

ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    padding: 9px;
    border-radius: 15px;
    background-color: var(--ion-color-light);
    color: var(--ion-color-dark);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

ion-fab-button[large]::after {
    font-size: small;
}

ion-fab-button[large="true"]::after {
    background-color: var(--ion-color-danger);
    color: var(--ion-color-light);
    font-size: large;
}

.centered {
    text-align: center !important;
}