<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let host of aquabox.hosts">
        <ion-card (click)="gotoDevice(host)" >
            <ion-card-header>
              <ion-thumbnail>
                <img src="assets/icon/package.png"/>
              </ion-thumbnail>
            </ion-card-header>
            <ion-card-content>
                <h1>{{host.configuration.id}}</h1>
            </ion-card-content>
        </ion-card>
    </ion-list>

    <ion-button (click)='addNewDevice();'>
      Scan
    </ion-button>
</ion-content>
