<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let host of aquabox.hosts">
    <ion-card>
      <ion-card-header>
        <ion-row justify-content-start>
          <ion-col size="2">
            <ion-thumbnail>
              <img src="assets/icon/package{{host.connected ? '' : '-grayscale'}}.png" />
            </ion-thumbnail>
          </ion-col>
          <ion-col align-self-center  (click)="gotoDevice(host)" size="8">
            <ion-label>
              <h1>{{host.configuration.name}}</h1>
            </ion-label>
          </ion-col>
          <ion-col align-self-end size="2">
            <ion-button (click)="openSettings(host)" fill="clear">
                <ion-icon name="options" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  </ion-list>

  <div class="col col-50 padding-vertical padding-horisontal" *ngIf="!aquabox.hosts.isEmpty()"></div>

  <ion-card (click)='addNewDevice();'>
    <ion-card-header>
      <ion-row justify-content-start>
        <ion-col size="2">
          <ion-thumbnail>
            <img src="assets/icon/add_package.png" />
          </ion-thumbnail>
        </ion-col>
        <ion-col align-self-center align-self-stretch>
          <ion-label>
            <h1>Add new host</h1>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
</ion-content>