<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Devices
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="main-background-gradient">
    <ion-refresher slot="fixed" (ionRefresh)="getDevices($event)">
        <ion-refresher-content pullingIcon="chevron-down" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>


    <ion-list>
        <ng-container #devicesList>

        </ng-container>
    </ion-list>

</ion-content>